# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Sistema operativo
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build o dist (si generas alguno)
dist/
build/
